RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

Options -Indexes

php_value upload_max_filesize 200M 
php_value post_max_size 200M 
php_value max_execution_time 300 
php_value max_input_time 300